@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
}

a {
  text-decoration: none;
}

body {
  user-select: none;
  margin-top: 10px;
}

.forecast-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 1100px;
  margin: 0 auto;
  background: #fafafa;
  border: 1px solid #a1a1a1;
  padding: 10px;
  border-radius: 5px;
}

.forecast-day {
  border: 1px solid #c1c1c1;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex: 0 0 10%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  background: #fbfbfb;
  min-width: 132px;
}

.forecast-day:hover {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

.normal-forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.max-temp,
.min-temp {
  text-align: center;
}

.max-temp {
  color: #d00;
}

.min-temp {
  color: #0d0;
}

.underline:after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background: #000;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: center;
}

.nav-el {
  border: 1px solid #a1a1a1;
  padding: 10px;
  border-radius: 10px;
  color: #000;
  margin-left: 10px;
}

.active {
  background: #fafafa;
  position: relative;
}

.active:after {
  display: block;
  content: "";
  width: 100%;
  height: 9px;
  position: absolute;
  background: #fafafa;
  left: -1px;
  top: 34px;
  border-left: 1px solid #a1a1a1;
  border-right: 1px solid #a1a1a1;
}

.additionalInfo {
  font-size: 14px;
  font-family: "Source Code Pro", monospace;
  text-align: center;
}

.additionalInfo .underline:after {
  margin: 10px auto;
  /* padding: 10px 0; */
}
